<section class="bg-white">
<br>
<h1 class="p-4 round bg-slate-100 text-center font-medium">{{data1.created_at}} x {{data2.created_at}}</h1>
<div>
<h1 class="p-4 border-b-1 border-slate-200">Gordura corporal</h1>
<div class="flex justify-center items-end gap-4 h-[200px]">
   
    <div class="w-26 bg-amber-500 text-black" style="height:{{gordura1|floatformat:0}}%">
        <p class="text-center">{{gordura1}}%</p>
    </div>
    <div class="w-26 bg-amber-500 text-black" style="height:{{gordura2|floatformat:0}}%">
        <p class="text-center">{{gordura2}}%</p>
    </div>
</div>
<br>
</div>
{% if comparativo %}
    <table class="w-full">
        <thead class="bg-slate-700 text-white">
            <tr class="py-2 ">
                <th>Medida</th>
                <th>Anterior (cm)</th>
                <th>Atual (cm)</th>
                <th>Diferença</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in comparativo %}
            <tr {% cycle 'class="bg-white"' 'class="bg-slate-200"' %}>
                <td class="font-bold py-1">{{ item.label }}</td>
                <td class="text-center">{{ item.v_antigo }}</td>
                <td class="text-center">{{ item.v_recente }}</td>
                <td class="text-center font-medium text-red-500">{{ item.diff }}</td>
                <td class="{% if item.diff > 0 %} text-orange-400 {% else %} text-blue-600 {%endif%}" >
                    {{ item.status }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


</section>