{% extends 'base/base.html' %}
{% block 'title' %}Login{% endblock %}

{% block 'content' %}
<div class="flex justify-center items-center my-4">
    <h1 class="text-3xl text-yellow-400">Personal App</h1>
</div>
<section class="content flex flex-col justify-center items-center m-auto w-full  max-w-[500px] p-2">
    <h1 class="text-4xl text-white my-4 m-auto w-[10%] flex flex-col items-center">
        <i class="fa fa-user-circle-o"></i>
        <span class="text-2xl">Login</span>
    </h1>
    <form action="{% url 'login_view' %}" method="post" class="w-full flex flex-col justify-center bg-white rounded-xl gap-2 p-4">
        
        {% csrf_token %} 
        <label>E-mail:</label>
        <input type="email" name="username" class="p-2 rounded-full border">
        <label>Senha:</label>
        <input type="password" name="password" class="p-2 rounded-full border">
        <button type="submit" class="bg-yellow-600 hover:bg-yellow-400 text-black font-medium uppercase rounded-full p-2 cursor-pointer">
            <i class="fa fa-sign-in"></i>
            Login
        </button>
    </form>
 
</section>
{% endblock %}