{% extends 'base_personal/base.html' %}
{% block 'title'%}
Clientes
{% endblock %}

{% block 'content'%}
{% if user.is_superuser %}
<div class="bg-black/60 fixed w-full h-screen bg-modal hidden">
    <h1 class="p-2 font-medium uppercase flex justify-between items-center text-gray-200 bg-gray-900">Lead
        <a href="#" class="text-lg close-lead">X</a>
    </h1>
    <div class="w-full bg-white h-full p-4  overflow-y-auto">
        <div class="result-lead">

        </div>
    </div>
</div>
<h1 class="p-2 font-medium uppercase flex justify-center items-center text-gray-200 text-lg border-b-1"><i class="fa fa-users"></i>&nbsp;LEADS</h1>
<section class="container w-full max-w-[900px] m-auto p-4">
        
    <div>
        <h1 class="p-2 font-medium uppercase flex justify-center items-center text-gray-200 text-lg bg-gray-900">Editar Leads</h1>
        {% if leads %}
        <ul>
            {% for l in leads %}
            <li class="flex items-center justify-between {% if forloop.odd %} bg-slate-100 {% else %} bg-slate-300 {% endif %} p-3" >
                <div>
                <a href="{% url 'visualizar_lead' l.id%}" data-id="{{l.id}}" class="p-4 hover:underline">
                    {{l.nome}}
                </a>
                </div>
                <div>
                <a class="">
                    Visualizar |
                </a>
                <a href="{% url 'delete_lead' l.id %}" class="hover:underline">
                    Excluir 
                </a>

                </div>
            </li>
            {% endfor %}
        </ul>
        {%else%}
            <p class="bg-white text-center p-4">Nenhum Lead cadastrado!</p>
        {%endif%}
    </div>
    


    
</section>
{% endif %}
{% endblock %}