{% extends 'base_personal/base.html' %}
{% block 'title'%}
Clientes
{% endblock %}

{% block 'content'%}

{% if user.is_superuser %}
<div class="bg-white/97 w-full m-auto h-full fixed z-10 hidden" id="modal-dados-clientes">
    <div class="w-full max-w-[780px] m-auto flex items-center justify-between p-4 border-b-1 border-slate-400">
        <h1 class="text-slate-700 text-xl font-bold"><i class="fa fa-user"></i>&nbsp; DADOS DO USUÁRIO</h1>
        <button class="text-4xl text-slate-700 cursor-pointer close-dados-clientes"><i class="fa fa-close"></i></button>
    </div>
    <div class="overflow-y-auto justify-center" id="exibe-form">
        
    </div>
</div>

<section class="content w-full max-w-[900px] m-auto">
     <div class="w-full h-screen fixed bg-white top-0 left-0 p-4 hidden z-8" id="cadastro-aluno">

        <h1 class="p-2 rounded-lg font-medium uppercase flex justify-center items-center text-gray-600 text-lg"><i class="fa fa-users"></i>&nbsp;REGISTRAR Cliente</h1>
    <form action="{% url 'register_cliente' user.id %}" method="post" class="flex flex-col justify-center gap-2 p-4">
            
            {% csrf_token %} 
            <label class="">Nome:</label>
            <input type="text" name="first_name" class="p-2 rounded-full border border-gray-400 shadow-lg">
            <label class="">E-mail:</label>
            <input type="email" name="email_cliente" class="p-2 rounded-full border border-gray-400 shadow-lg" value="">
            <label class="">Password:</label>
            <input type="password" name="password" class="p-2 rounded-full border border-gray-400 shadow-lg">
            <div class="flex justify-between items-center">
            <button type="submit" class="my-4 cursor-pointer bg-cyan-600 font-medium text-white rounded-full p-2 shadow-lg"><i class="fa fa-handshake-o"></i>&nbsp;Registrar</button>
            <a href="#" id="fechar-rg-aluno" class="bg-red-400 p-2 rounded-full font-medium text-white shadown-lg"><i class="fa fa-close "></i>&nbsp;Cancelar</a>
            </div>
        </form>
        <p>
            Após o cadastro envie o link de login para que seu aluno termine de fazer o cadastro!
            <span class="text-green-600">Clique no link de whatsapp na "Home" ou em "Clientes"</span>
        </p>
    </div>
    <div class="flex items-center justify-between px-4 border-b-1 border-gray-900">
        <h1 class="text-lg p-2 text-white font-medium uppercase"><i class="fa fa-users m-2"></i>Clientes</h1>
        <a href="{% url 'inicio' %}" class="uppercase text-white"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a>
    </div>
    <div class="flex p-3">
        <a href="#" id="abrir-rg-aluno" class="bg-green-400 p-1 rounded block text-green-900">
            Registrar Cliente
            <i class="fa fa-plus"></i>
        </a>
    </div>
    {% for u in usuarios %}
    {% if not u.is_superuser %}
    <div class="flex justify-between items-center py-4 px-2 {% cycle 'bg-gray-200' 'bg-white' %}">
        <div class="flex justify-between items-center p-2">
            <i class="fa fa-user-circle-o"></i> &nbsp; 
        {{u.first_name}}
        </div>
        <div class="flex items-center justify-between space-x-2">
        
            <a href="{% url 'anamnese' u.id %}" class="text-white text-center rounded-full p-2 {% if not u.password %} bg-red-500 {% else %}bg-slate-700 {% endif %} size-9 ">  
                <i class="fa fa-file-text"></i>
            </a>
            <button data-href="{% url 'form_dados_clientes' u.id %}" class="cursor-pointer modal-dados bg-slate-700 text-white rounded-full text-center  py-1 size-9"><i class="fa fa-pencil fa-lg"></i></button>
            <a href="{% url 'treinamento' u.id %}" class="bg-slate-700 text-white rounded-full text-center py-1 size-9"><i class="fa fa-heartbeat fa-lg" aria-hidden="true"></i></a>
            <a href="{% url 'delete_user' u.id %}" class="bg-red-500 text-white rounded-full text-center py-1 size-9"><i class="fa fa-trash fa-lg"></i></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <br><br><br><br>
</section>
{% endif %}
{% endblock %}