<form>
    <div>
        <label>Peso Kg:</label>
        <input type="number" name="peso" class="peso" required/>
    </div>
    <div>
        <label>Tórax:</label>
        <input type="number" name="torax" class="peso" required/>
    </div>
    <div>
        <label>Cintura:</label>
        <input type="number" name="cintura" class="peso" required/>
    </div>
    <div>
        <label>Quadril:</label>
        <input type="number" name="quadril" class="" required/>
    </div>
    <div>
        <label>Bíceps Direito:</label>
        <input type="number" name="b-d" class="" required/>
    </div>
    <div>
        <label>Bíceps Esquerdo:</label>
        <input type="number" name="b-e" class="" required/>
    </div>
    <div>
        <label>Coxa Direita:</label>
        <input type="number" name="c-d" class="peso" required/>
    </div>
    <div>
        <label>Coxa Esquerda:</label>
        <input type="number" name="c-e" class="peso" required/>
    </div>
    <div>
        <button type="submit">Registrar dados</button>
    </div>
</form>