
h1{
    font-family: "Cal Sans", sans-serif !important;
    
    font-style: normal;
    text-transform: uppercase;
}
h2{
  font-family: 'Roboto';
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  
  font-style: normal;
}
.form-django p {
  margin-bottom: 20px;
  position: relative;
}
input[type=checkbox] {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position:absolute;
  top:2px;
  left: 0;
}

.form-django textarea{
  
  background-color: rgb(255, 255, 255) !important;
  width:100%;
  height:100px;
}
.form-django input{
  
  padding:10px;
  background-color: rgb(255, 255, 255) !important;
  width:100%
  
}
.form-django label{
  display: inline-block;
  
  color:rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  padding:0 10px;
  
}
.helptext{
  color:yellow;
  padding:10px 0px;
  display: block;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End at its original position */
    opacity: 1;
  }
}

.slide-left {
  animation: slide-from-left 0.5s ease-out forwards; /* Apply the animation */
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0); /* Original size */
    opacity: 0;
  }
  50% {
    transform: scale(1.3); /* Zooms in to 130% */
  }
  100% {
    transform: scale(1); /* Returns to original size */
  }
}

.animated-zoom {
  animation: zoom-in-out 0.5s  alternate ease-in-out; /* Applies the animation */
}