body{
    background: #000000;
    background: linear-gradient(50deg,rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 100%);
    background-size: cover;
     background-position: center center;
     background-attachment: fixed; /* Optional: fixes the background relative to the viewport */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  margin: 0; /* Remove default body margin */
}
h1, h2, h3,h4,h5{
   font-family: "Roboto", sans-serif;
   font-weight: 300;
}
a{
  font-family: "Roboto", sans-serif;
   font-weight: 300;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End at its original position */
    opacity: 1;
  }
}

.slide-left {
  animation: slide-from-left 0.5s ease-out forwards; /* Apply the animation */
}
