<section class="flex flex-wrap items-center justify-between relative gap-2">
    <div id="success-add" class="bg-cyan-500 absolute -top-5 w-full p-2 hidden">
        <p class="text-white"><span class="text-green-400"><i class="fa fa-check"></i></span>&nbsp;Exercício adicionado a lista!</p>
    </div>
    {% for e in exercicios %}
       <div class="flex flex-col justify-center w-50">
        <p class="rounded-tl-lg rounded-tr-lg bg-cyan-900 p-1 text-white">{{e.exercicio}}</p>
        <figure class="w-50 h-full relative">
            <div id="{{ forloop.counter }}" class="hidden absolute top-0 left-0 bg-black/40 w-full h-full p-2 flex items-center justify-center text-white text-3xl" >
                <i class="fa fa-check"></i>
            </div>
            <img src="{{e.url}}" >
        </figure>
        <a href="{% url 'add_exercicio' %}" data-clickcheck="{{ forloop.counter }}" data-img="{{e.url}}" data-nome="{{e.exercicio}}" data-url2="{% url 'add_exercicio' %}" class="add-exercicio w-full bg-green-500 text-white flex items-center justify-center"><i class="fa fa-plus"></i>Adicionar</a>
        
       </div>
    {% endfor %}
</section>
