{% if user.is_authenticated == True %}

<div id="nav" class="fixed bottom-0 left-0 w-full bg-cyan-500">

<nav class="w-full max-w[780px] flex justify-center px-4">
    <ul id="mobile-menu" class="flex flex-wrap items-center justify-between gap-2 mx-auto">
        <li>
            <a href="{% url 'inicio' %}" class="text-cyan-900 p-2 rounded-full px-2 text-3xl flex flex-col items-center"><i class="fa fa-home"></i><span class="text-sm">Home</span></a>
        </li>
        <li>
            <a href="{% url 'clientes' %}" class="text-cyan-900 p-2 rounded-full px-2 text-3xl flex flex-col items-center"><i class="fa fa-user-circle-o"></i><span class="text-sm">Clientes</span></a>
        </li>
        <!--
        <li>
            <a href="{% url 'exercicios' %}" class="text-white p-2 rounded-full px-2 text-4xl flex flex-col items-center"><i class="fa fa-heartbeat"></i><span class="text-sm">Exercícios</span></a>
        </li>
        -->
        <li>
            <a href="" class="text-cyan-900 px-2 rounded-md text-3xl flex flex-col items-center"><i class="fa fa-dollar"></i></i><span class="text-sm">Financeiro</span></a>
        </li>
    </ul>
</nav>

</div>
{% endif %}