{% if user.is_authenticated == True %}
<button id="show-menu" class="border border-3 border-white animate-bounce shadow-md bg-cyan-900 rounded-full fixed bottom-3 right-3 py-2 px-4 text-3xl flex flex-col items-center text-yellow-400 cursor-pointer"><i class="fa fa-bars"></i><span class="text-sm">Menu</span></button>
<div id="nav" class="hidden fixed bottom-0 left-0 w-full bg-cyan-900">

<nav class="w-full max-w[780px] flex justify-center px-4">
    <ul class="flex flex-wrap items-center justify-between gap-2 mx-auto">
        <li>
            <a href="{% url 'home' %}" class="text-white p-2 rounded-full px-2 text-4xl flex flex-col items-center"><i class="fa fa-home"></i><span class="text-sm">Home</span></a>
        </li>
        <li>
            <a href="{% url 'clientes' %}" class="text-white p-2 rounded-full px-2 text-4xl flex flex-col items-center"><i class="fa fa-user-circle-o"></i><span class="text-sm">Clientes</span></a>
        </li>
        <!--
        <li>
            <a href="{% url 'exercicios' %}" class="text-white p-2 rounded-full px-2 text-4xl flex flex-col items-center"><i class="fa fa-heartbeat"></i><span class="text-sm">Exercícios</span></a>
        </li>
        -->
        <li>
            <a href="" class="text-white px-2 rounded-md text-4xl flex flex-col items-center"><i class="fa fa-gear"></i></i><span class="text-sm">Configurações</span></a>
        </li>
        <li class="border-solid border-l-1 h-full">
            <a href="#" id="esconde-menu" class="text-yellow-400 p-2 rounded-full px-2 text-2xl flex flex-col items-center"><i class="fa fa-caret-down p-4" aria-hidden="true"></i><span class="text-sm"></span></a>
        </li>
    </ul>
</nav>
</div>
{% endif %}